form{
    width: 75%;
    margin: auto;
}

.inputContainer{
    width:50%;
    display: flex;
    align-items: center;
}

.inputContainer label{
    width:30%;
    text-align: center;
}

.inputContainer input{
    width:40%;
}

.messageOutput{
    text-align:center;
}